<div class="auth-layout">
    <h1>Harry Potions</h1>
    <p>Welcome Harry Potters!</p>
    <p>Let's make Potions!</p>
    <a href="/auth/signup">Sign up</a>
    <a href="/auth/login">Login</a>
  </div>