<div class="home-page">
    <h1>Harry Potions</h1>
    <p>Welcome Harry Potters!</p>
    <p>Let's make Potions!</p>
    <a id="signup-tbn" href="/auth/signup">Sign up</a>
    <a id="login-tbn" href="/auth/login">Login</a>
  </div>