<h1>Welcome</h1>
<h2><%= user.username %></h2>
<a href="/auth/logout"> Log Out </a>
<!-- Check if /auth/logout is right! -->

<a href="">Update account</a>
<a href="">Delete account</a>

<a href="/potions/create">Create Potion</a>
<a href="/potions/one">See on Potion</a>
<a href="/potions/all">See all Potion</a>
