<%- include('../partials/nav.ejs') %>
<div class="loggedin-layout">
  <h1>All Potions</h1>
  <ul>
    <% allPotions.forEach((potion) => { %>
      <li>
        <a href=<%- `/potions/${potion.id}` %>><%= potion.title %></a>
      </li>
      <% }) %>
    </ul>
    <%- include('../partials/search.bar.ejs') %>
  </div>

