<%- include('../partials/nav.ejs') %>
<%- include('../partials/search.ejs') %>
<h1>All Potions</h1>
<ul>
  <% allPotions.forEach((potion) => { %>
  <li>
    <a href=<%- `/potions/${potion.id}` %>><%= potion.title %></a>
  </li>
  <% }) %>
</ul>

