<%- include('../partials/nav.ejs') %>
<h1>Create Potion</h1>
<form method="POST" action="/potions/create">
  <label
    >Title:
    <input type="text" name="title" required />
  </label>
  <label
    >Ingredients:
    <input type="text" name="ingredients" required />
  </label>
  <label
    >Difficulty:
    <select name="difficulty">
      <option value="any muggle could make it"> any muggle could make it</option>
      <option value="Hogwarts student level">Hogwarts student level</option>
      <option value="professor Snape level">professor Snape level</option>
    </select></label
  >
  <button type="submit">Create Potion </button>
</form>







