<h1>Create Potion</h1>
<form method="POST" action="/potions/create">
  <label
    >Title:
    <input type="text" name="title" required />
  </label>
  <label
    >Ingredients:
    <input type="text" name="ingredients" required />
  </label>
  <label
    >Difficulty:
   <input type="text" name="difficulty" required />

   <button type="submit">Save</button>
</form>







