<%- include('../partials/nav.ejs') %>
<%- include('../partials/search.bar.ejs') %>

<h1>My Potions</h1>
<ul>
  <%  myPotions.forEach((potion) => { %>
  <li>
    <a href="/potions/my-potions/<%= potion._id %>" > <%= potion.title %></a>
  </li>
  <% }) %>
</ul>


