
<div class="auth-layout">
<% if (!findPotion || findPotion.length === 0) { %>
<p style="color: rgb(176, 2, 2)"> Potion Does Not Exist but You can Create it!</p>
<% } else { %>
<ul>
  <% findPotion.forEach((potion) => { %>
  <li><%- potion.title %></li>
  <p><%- potion.ingredients %></p>
  <% }) %>
</ul>
<% } %> <% if (typeof errorMessage !== 'undefined') { %>
<p style="color: red"><%= errorMessage %></p>
<% } %>
</div>