@font-face {
  font-family: "harry_pregular";
  src: url("../fonts/harryp__-webfont.woff") format("woff2"),
    url("harryp__-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font: "harry_pregular";
}

a {
  color: #00b7ff;
}

h1,
h2,
h3,
h4 {
  font-family: "harry_pregular";
  padding: 0;
  margin: 0;
}

 h1 {
  background: url(/images/stags.jpeg);
  font-size: 8rem;
  margin-bottom: 20px;
  font-family: "harry_pregular";
  background-position: 0 0;
  -webkit-background-clip: text;
  -webkit-text-fill-color:transparent;
  animation: animatedOne 30s linear infinite;
}

@keyframes animatedOne {
  from {
      background-position: 0 0;
  }
  to {
      background-position: 100% 0;
  }
}


#signup-image image {
object-fit: cover;
position: relative;
}

.auth-layout {
  min-height: 100vh;
  background-color: black;
  color: whitesmoke;
  font-style: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.auth-layout a {
  margin: 0.5rem 0;
  align-items: center;
  background-color: rgba(240, 240, 240, 0.26);
  border: 1px solid #dfdfdf;
  border-radius: 16px;
  box-sizing: border-box;
  color: #fffcfc;
  display: flex;
  font-family: "harry_pregular", sans-serif;
  font-size: 2rem;
  justify-content: center;
  line-height: 28px;
  padding: 14px 22px;
  text-decoration: none;
  transition: all 0.2s;
  touch-action: manipulation;
  
}

.auth-layout p {
  font-family: sans-serif;
  font-size: 1rem;
}

.auth-layout form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}

.auth-layout input {
  background-color: rgba(255, 255, 255, 0.26);
  border-radius: 16px;
  box-sizing: border-box;
  width: 30vw;
  height: 30px;
  color: white;
  font-size: 1rem;
}

.auth-layout a:hover {
  color: black;
}

.auth-layout button {
  background-color: rgb(83, 83, 83);
  font-size: 20px;
  color: whitesmoke;
  border-radius: 10px;
  padding: 15px 30px;
  margin-top: 30px;
}


.nav ul {
  background-color: rgb(25, 33, 41);
  padding: 15px;
  border: none;
  list-style-type: none;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.nav a {
  text-decoration: none;
  font-family: "harry_pregular";
  font-size: 1.5em;
  color: whitesmoke;
}


.search-bar label{
 background-color: rgba(240, 240, 240, 0.26);
 border-radius: 16px;
 box-sizing: border-box;
 width: 30vw;
 height: 30px;
 color:white;
}

.search-bar input {
  background-color: rgba(212, 212, 212, 0.26);
  color:white;
  border-radius: 16px;
  box-sizing: border-box;
}

.profile-container {
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #000000;
}

.profile-container img {
  width: 10rem;
  height: 10rem;
  object-fit: cover;
}

.profile-container p {
  font-family: "harry_pregular";
  font-size: 2.5rem;
  color: whitesmoke;
}

.profile-container h1 {
  color: whitesmoke;
  font-size: 6rem;
  font-family: 'harry_pregular';
  margin-bottom: 10px;
  margin-top: 0px;
}

#left {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.profile-container a {
  margin: 0.5rem 0;
  align-items: center;
  background-color: rgba(240, 240, 240, 0.26);
  border: 1px solid #dfdfdf;
  border-radius: 16px;
  box-sizing: border-box;
  color: #fefefe;
  display: flex;
  font-family: "harry_pregular", sans-serif;
  font-size: 2rem;
  justify-content: center;
  line-height: 28px;
  max-width: 100%;
  padding: 14px 22px;
  text-decoration: none;
  transition: all 0.2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
}

.page-btns button {
    padding: .5em 2em;
    font-family: "harry_pregular";
    font-size: 1.5rem;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
.page-btns button:before {
    content: "";
    background: linear-gradient(
      45deg,
      #7c9adc,
      #6616654d,
      #ebebe6,
      #1e34dd,
      #333f8c,
      #04afd6,
      #065fbd,
      #0f2fe6,
      #1b0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button-85 20s linear infinite;
    transition: opacity 10s ease-in-out;
    border-radius: 10px;
  }
  
  @keyframes glowing-button-85 {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }

.page-btns button:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #222;
    left: 0;
    top: 0;
    border-radius: 10px;
  }

.one-page {
  min-height: 100vh;
  background-color: black;
  color: whitesmoke;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.one-page h1 {
  font-size: 6rem;
  font-family: 'harry_pregular';
  margin-bottom: 10px;
  margin-top: 0px;
}

.one-page-potion-background {
  background-color: black;
  background-color: rgb(157, 156, 156);
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.one-page h2 {
  font-size: 3rem;
  font-family: sans-serif;
  margin-top: 5px;
  margin-bottom: 5px;
}

.one-page h4 {
  font-size: 20px;
  font-family: sans-serif;

}

.one-page p {
  font-size: 15px;
  font-family: sans-serif;
  margin-top: 0px;
  margin-bottom: 10px;
}

.one-page form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.one-page button:active {
  background-color: rgb(157, 156, 156);
}

.one-page-btns {
  margin-top: 20px;
}

.one-page a {
  background-color: rgb(83, 83, 83);
  text-decoration: none;
  font-size: 10px;
  font-family: sans-serif;
  color: whitesmoke;
  border-radius: 10px;
  padding: 10px 20px;
  margin-top: 10px;
}

.one-page a:hover {
  color: black;
}


.loggedin-layout {
  min-height: 100vh;
  background-color: black;
  color: whitesmoke;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.loggedin-layout ul {
  list-style-type: none;
  text-align: center;
  margin-left: 0;
}

.loggedin-layout h1 {
  font-size: 6rem;
  font-family: 'harry_pregular';
  margin-bottom: 10px;
  margin-top: 0px;
}

.loggedin-layout a {
  text-decoration: none;
  color: whitesmoke;
  font-family: sans-serif;
  font-size: 1rem;
}

.loggedin-layout form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1rem;
}

.loggedin-layout input{
  background-color: rgba(240, 240, 240, 0.26);
  color: white;
  font-size: 1rem;
  border-radius: 16px;
  box-sizing: border-box;
  width: 30vw;
  height: 30px;
 }

.my-potions-page a:hover {
  color: rgb(139, 139, 139);
}


@media screen and (max-width: 768px) {
  .profile-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #left,
  #right {
    width: 100%;
  }

  #left a {
    margin: 0.5rem 0;
  }
}
