
@font-face {
  font-family: 'harry_pregular';
  src: url('../fonts/harryp__-webfont.woff') format('woff2'),
       url('harryp__-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

body {
  margin: 0;
  font: 'harry_pregular';
  font-size: large;
}

a {
  color: #00b7ff;
}

h1,
h2,
h3,
h4,
p {
  font-family: 'harry_pregular';
}

h1 {
  size: 10rem;
  font-family: 'harry_pregular';
}


.homePage {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.nav {
  background-color: rgb(25, 33, 41);
  padding: 15px;
}

.nav ul {
 list-style-type: none;
 margin: 0 auto;
 display: flex;
 justify-content: space-between;
}

.nav a {
  text-decoration: none;
  font-family: 'harry_pregular';
  font-size: 1.5em;
  color: aliceblue;
}

.search-bar {
  display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: stretch;
}